{% extends 'base.html' %}

{% block head %}
    <style>
        body{
            padding-top: 50px;
        }
    </style>
    <title>DERMA - Resources</title>
{% endblock %}
{% block body %}
    <main>
        <br><br><br><br>
        <ul class="list-group">
            <h style = "font-size: x-large; padding-left: 10px">List of References</h>
            <li class="list-group-item">
                <a href = "https://www.sciencedirect.com/science/article/pii/S0010482520303966">Artificial intelligence-based image classification methods for diagnosis of skin cancer: Challenges and opportunities</a><br>
                <div class = "author">Manu Goyal, Thomas Knackstedt, Shaofeng Yan, Saeed Hassanpour</div>
            </li>
            <li class="list-group-item">
                <a href = "https://www.jmir.org/2021/11/e22934/">Artificial Intelligence for Skin Cancer Detection: Scoping Review</a><br>
                <div class = "author">Abdulrahman Takiddin, Author Orcid; Jens Schneider Author Orcid; Yin Yang; Alaa Abd-Alrazaq; Mowafa Househ</div>
            </li>
            <li class="list-group-item">
                <a href = "https://www.mdpi.com/1660-4601/18/24/13409">Machine Learning and Its Application in Skin Cancer</a><br>
                <div class = "author">Kinnor Das, Clay J. Cockerell, Anant Patil, Paweł Pietkiewicz, Mario Giulini, Stephan Grabbe and Mohamad Goldust</div>
            </li>
            <li class="list-group-item">
                <a href = "https://jamanetwork.com/journals/jamadermatology/article-abstract/2762711">Patient Perspectives on the Use of Artificial Intelligence for Skin Cancer Screening</a><br>
                <div class = "author">Caroline A. Nelson; Lourdes Maria Pérez-Chada, MD,; Andrew Creadore; et al</div>
            </li>
            <li class="list-group-item">
                <a href = "https://www.sciencedirect.com/science/article/pii/S2667026722000583">Deep Learning in Dermatology: A Systematic Review of Current Approaches, Outcomes, and Limitations</a><br>
                <div class = "author">Hyeon Ki Jeong, Christine Park, Ricardo Henao, Meenal Kheterpal</div>
            </li>
            <li class="list-group-item">
                <a href = "https://www.sciencedirect.com/science/article/abs/pii/S0010482520304492">Deep learning based classification of facial dermatological disorders</a><br>
                <div class = "author">Evgin Goceri</div>
            </li>
            <li class="list-group-item">
                <a href = "https://www.sciencedirect.com/science/article/pii/S0959804919302217">Deep learning outperformed 136 of 157 dermatologists in a head-to-head dermoscopic melanoma image classification task</a><br>
                <div class = "author">Titus J. Brinker, Achim Hekler, Alexander H. Enk, Joachim Klode, Axel Hauschild, Carola Berking, Bastian Schilling, Sebastian Haferkamp, Dirk Schadendorf, Tim Holland-Letz, Jochen S. Utikal i, Christof von Kalle 
                    Collaborators</div>
            </li>
            <li class="list-group-item">
                <a href = "https://ieeexplore.ieee.org/abstract/document/10390147">An Efficient Diagnosis of Melanoma Skin Disease Using DenseNet-121</a><br>
                <div class = "author">Shaveta Jain; Kushagra Agrawal</div>
            </li>
            <li class="list-group-item">
                <a href = "https://dspace.bracu.ac.bd/xmlui/handle/10361/15193">DenseNet based skin lesion classification and melanoma detection</a><br>
                <div class = "author">Munaf, Arifuzzaman
                    Hoque, Ariful
                    Jawwad, Kazi Asif</div>
            </li>
        </ul>
    </main>
{% endblock %}