{% extends 'base.html' %}

{% block head %}
    <style>
        body{
            padding-top: 150px;
        }
    </style>
    <title>DERMA - Result</title>
{% endblock %}

{% block body %}
    <main>
        <div class="container align-items-center">
        <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">{{ answer }}</h2>
              <p class="lead">{{ lead_section }}</p>
            </div>
            <div class="col-md-5">
              <img src="data:image/jpeg;base64,{{ img }}" class = "img-fluid" >
            </div>
          </div>
          <br>
        <div>
          <a class="btn btn-outline-dark" href = "https://en.wikipedia.org/wiki/{{ answer }}" role = "button">Read More on Wikipedia</a>
        </div>
        <hr class="featurette-divider">
        </div>
    </main>
{% endblock %}